USE [AUTOMATIC_BI_PRO]
GO
/****** Object:  StoredProcedure [dbo].[SP_AUTOMATIC_BI_SaldosPorBodega]    Script Date: 21/10/2024 2:26:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedimiento para traer el detallado de los atributos de los preoperacionales con no conformidades.
ALTER PROCEDURE [dbo].[SP_AUTOMATIC_BI_SaldosPorBodega]
        @BDNAME VARCHAR(MAX)
	   ,@FILTROS VARCHAR(MAX) = ''
	   ,@PERIODO VARCHAR (30) = ''
	   ,@CENTROCOSTO VARCHAR(MAX) = '*'
    
As BEGIN

 SET NOCOUNT ON

	-- CREACIÓN TABLA TEMPORAL PARA GUARDAR LAS BD A RECORRER
	IF OBJECT_ID(N'tempdb..#BIReporteMapeo') IS NOT NULL DROP TABLE #BIReporteMapeo;
	SELECT * INTO #BIReporteMapeo FROM (
		SELECT BaseDatos
			,CASE
				WHEN (CASE WHEN LEN((CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END))< 4 THEN CONCAT('0',(CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END)) ELSE (CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END) END) = '0009' THEN 'P009'
				ELSE (CASE WHEN LEN((CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END))< 4 THEN CONCAT('0',(CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END)) ELSE (CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END) END)
				END AS [CentroCostos]
		FROM [R2021Businmel].[dbo].[Ambiente]
		WHERE IdAmbienteTipo = 1
			AND Activo = 1
			AND BaseDatos NOT LIKE 'TEMIS_MOODLE_PRO'
			AND BaseDatos NOT LIKE '%IMP%'
			AND BaseDatos NOT LIKE '%OLD%'
			AND BaseDatos NOT LIKE '%004%'
			--AND BaseDatos LIKE '%TEMIS_008J_PRO%'
	) BD

	--SELECT * FROM #BIReporteMapeo;

	--------=======================================================--------
	-- Tabla temporal donde se acumularán los resultados
	CREATE TABLE #TempReporte (
		IdSubBodega BIGINT
		,IdReferencia BIGINT
		,[Codigo Referencia] VARCHAR(1000)
		,Serializado VARCHAR(1000)
		,Saldo VARCHAR(1000)
		,[Nombre Referencia] VARCHAR(1000)
		,[Nombre Sub Bodega] VARCHAR(1000)
		,[Codigo Sub Bodega] VARCHAR(1000)
		--,[Fecha del Documento] DATETIME
		,[Entrada de Tercero] VARCHAR(1000)
		,[Traslado Bodegas] VARCHAR(1000)
		,[Entrada SubBodega] VARCHAR(1000)
		,[Devolución Tercero] VARCHAR(1000)
		,Digitacion VARCHAR(1000)
		,[Devolución SubBodega] VARCHAR(1000)
		,[Traslado SubBodega] VARCHAR(1000)
		,[Cobros Material] VARCHAR(1000)
		,[Saldos Iniciales por xls] VARCHAR(1000)
		,[Ajuste de Inventario] VARCHAR(1000)
		,Grupo VARCHAR(1000)
	);

	-- Declaramos la variable de campos que se utilizará en el procedimiento
	DECLARE @campos VARCHAR(MAX) = '
		SB.IdSubBodega [IdSubBodega]
		,DD.IdReferencia [IdReferencia]
		,R.CodigoReferencia [Codigo Referencia]
		,R.Serializado [Serializado]
		,SUM(CASE WHEN D.idbodegadestino = SB.IdSubBodega THEN DD.cantidad WHEN D.idbodegaorigen = SB.IdSubBodega THEN-1 * DD.cantidad ELSE 0 END) [Saldo]
		,R.NombreReferencia [Nombre Referencia]
		,SB.NombreSubBodega [Nombre Sub Bodega]
		,SB.CodigoSubBodega [Codigo Sub Bodega]
		,SUM(CASE WHEN D.IdBodegaDestino = SB.IdSubBodega AND D.IdTipoDocumento = 4 THEN DD.Cantidad * 1 ELSE 0 END) [Entrada de Tercero]
		,SUM(CASE WHEN D.IdBodegaOrigen = SB.IdSubBodega AND D.IdTipoDocumento = 1 THEN DD.Cantidad * -1 ELSE 0 END) [Traslado Bodegas]
		,SUM(CASE WHEN D.IdBodegaOrigen = SB.IdSubBodega AND D.IdTipoDocumento = 2 THEN DD.Cantidad * -1 WHEN D.IdBodegaDestino = SB.IdSubBodega AND D.IdTipoDocumento = 2 THEN DD.Cantidad * 1 ELSE 0 END) [Entrada SubBodega]
		,SUM(CASE WHEN D.IdBodegaOrigen = SB.IdSubBodega AND D.IdTipoDocumento = 3 THEN DD.Cantidad * -1 ELSE 0 END) [Devolución Tercero]
		,SUM(CASE WHEN D.IdBodegaOrigen = SB.IdSubBodega AND td.EsConsumo = 1 AND td.AplicaSaldo = 1 THEN DD.Cantidad * -1 ELSE 0 END) [Digitacion]
		,SUM(CASE WHEN D.IdBodegaOrigen = SB.IdSubBodega AND D.IdTipoDocumento = 7 THEN DD.Cantidad * -1 WHEN D.IdBodegaDestino = SB.IdSubBodega AND D.IdTipoDocumento = 7 THEN DD.Cantidad * 1 ELSE 0 END) [Devolución SubBodega]
		,SUM(CASE WHEN D.IdBodegaOrigen = SB.IdSubBodega AND D.IdTipoDocumento = 8 THEN DD.Cantidad * -1 ELSE CASE WHEN D.IdBodegaDestino = SB.IdSubBodega AND D.IdTipoDocumento = 8 THEN DD.Cantidad * 1 ELSE 0 END END) [Traslado SubBodega]
		,SUM(CASE WHEN D.IdBodegaOrigen = SB.IdSubBodega AND D.IdTipoDocumento = 10 THEN DD.Cantidad * -1 ELSE 0 END) [Cobros Material]
		,SUM(CASE WHEN D.IdBodegaDestino = SB.IdSubBodega AND D.IdTipoDocumento = 11 THEN DD.Cantidad * 1 ELSE 0 END) [Saldos Iniciales por xls]
		,SUM(CASE WHEN D.IdBodegaOrigen = SB.IdSubBodega AND D.IdTipoDocumento = 12 THEN DD.Cantidad * -1 ELSE CASE WHEN D.IdBodegaDestino = SB.IdSubBodega AND D.IdTipoDocumento = 12 THEN DD.Cantidad * 1 ELSE 0 END END) [Ajuste de Inventario]
		,G.NombreGrupo [Grupo]
		';

	-- Declara las variables que se usarán en el cursor
	DECLARE @NombreBaseDatos VARCHAR(128),
			@SQL NVARCHAR(MAX);

	-- Declara el cursor para recorrer la lista de bases de datos
	DECLARE cursor_balance CURSOR FOR
	SELECT BaseDatos FROM #BIReporteMapeo; -- Aquí está la tabla que contiene el nombre de las bases de datos

	-- Abre el cursor
	OPEN cursor_balance;
	FETCH NEXT FROM cursor_balance INTO @NombreBaseDatos;

	-- Inicia el ciclo de recorrido
	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- Construye el SQL dinámico para ejecutar el procedimiento en la base de datos actual
		SET @SQL = '
		INSERT INTO #TempReporte
		EXEC [' + @NombreBaseDatos + '].dbo.SP_ReporteSaldosPorBodega
		@campos = ''' + @campos + ''',
		@filtros = ''''
		';

		-- Ejecuta el SQL dinámico
		EXEC sp_executesql @SQL;

		-- Pasa a la siguiente base de datos
		FETCH NEXT FROM cursor_balance INTO @NombreBaseDatos;
	END;

	-- Cierra y libera el cursor
	CLOSE cursor_balance;
	DEALLOCATE cursor_balance;

	-- Consulta los resultados acumulados
	SELECT * FROM #TempReporte;

	DROP TABLE #TempReporte
	DROP TABLE #BIReporteMapeo;

END;

--EXEC [dbo].[SP_AUTOMATIC_BI_SaldosPorBodega] '004'
