USE [AUTOMATIC_BI_PRO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_AUTOMATIC_BI_TrazabilidadSerial]
    @BDNAME VARCHAR(MAX),
    @FILTROS VARCHAR(MAX) = '',
    @PERIODO VARCHAR(30) = '',
    @CENTROCOSTO VARCHAR(MAX) = '*'
AS 
BEGIN
    SET NOCOUNT ON

    -- CREACIÓN TABLA TEMPORAL PARA GUARDAR LAS BD A RECORRER
    IF OBJECT_ID(N'tempdb..#BIReporteMapeo') IS NOT NULL DROP TABLE #BIReporteMapeo;
    SELECT * INTO #BIReporteMapeo FROM (
        SELECT BaseDatos,
            CASE
                WHEN (CASE WHEN LEN((CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END))< 4 THEN CONCAT('0',(CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END)) ELSE (CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END) END) = '0009' THEN 'P009'
                ELSE (CASE WHEN LEN((CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END))< 4 THEN CONCAT('0',(CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END)) ELSE (CASE WHEN CentroCostos LIKE '%_%' THEN LEFT(CentroCostos,4) ELSE CentroCostos END) END)
            END AS [CentroCostos]
        FROM [R2021Businmel].[dbo].[Ambiente]
        WHERE IdAmbienteTipo = 1
            AND Activo = 1
            AND BaseDatos NOT LIKE 'TEMIS_MOODLE_PRO'
            AND BaseDatos NOT LIKE '%IMP%'
            AND BaseDatos NOT LIKE '%OLD%'
            AND BaseDatos LIKE '%004_PRO%'
    ) BD

    -- Tabla temporal donde se acumularán los resultados
    CREATE TABLE #TempReporte (
        Estado VARCHAR(500),
        [Estado serial] VARCHAR(500),
        [Tipo Documento] VARCHAR(500),
        Serial VARCHAR(500),
        MacAddress VARCHAR(500),
        CodigoReferencia VARCHAR(500),
        NombreReferencia VARCHAR(500),
        NroDocumento VARCHAR(500),
        NombreSubBodega VARCHAR(500),
        Fecha DATETIME,
        [BD_Name] VARCHAR(6)
    );

    -- Declara las variables que se usarán en el cursor
    DECLARE @NombreBaseDatos VARCHAR(128),
            @centrocostos VARCHAR(6),
            @SQL NVARCHAR(MAX);

    -- Declaramos la variable de campos que se utilizará en el procedimiento
    DECLARE @campos VARCHAR(MAX) = 
        'ES.Estado Estado
        ,ES.Descripcion [Estado serial]
        ,TD.NombreTipoDocumento [Tipo Documento]
        ,S.Serial
        ,S.MacAddress
        ,R.CodigoReferencia
        ,R.NombreReferencia
        ,D.NroDocumento
        ,SB.NombreSubBodega
        ,CAST(D.FechaDocumento As DATETIME) Fecha
        ,''{{CENTROCOSTOS}}'' [BD_Name]
        ';

    -- Declara el cursor para recorrer la lista de bases de datos
    DECLARE cursor_balance CURSOR FOR
    SELECT BaseDatos, [CentroCostos] FROM #BIReporteMapeo;

    -- Abre el cursor
    OPEN cursor_balance;
    FETCH NEXT FROM cursor_balance INTO @NombreBaseDatos, @centrocostos;

    -- Inicia el ciclo de recorrido
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Reemplaza el marcador de posición con el valor real de @centrocostos
        DECLARE @camposActuales VARCHAR(MAX) = REPLACE(@campos, '{{CENTROCOSTOS}}', ''''+@centrocostos+'''');
        
        -- Construye el SQL dinámico para ejecutar el procedimiento en la base de datos actual
        SET @SQL = '
        INSERT INTO #TempReporte
        EXEC [' + @NombreBaseDatos + '].dbo.SP_ReporteTrazabilidadSerial
        @campos = ''' + @camposActuales + ''',
        @filtros = ''''
        ';

        -- Ejecuta el SQL dinámico
        EXEC sp_executesql @SQL;

        -- Pasa a la siguiente base de datos
        FETCH NEXT FROM cursor_balance INTO @NombreBaseDatos, @centrocostos;
    END;

    -- Cierra y libera el cursor
    CLOSE cursor_balance;
    DEALLOCATE cursor_balance;

    -- Consulta los resultados acumulados
    SELECT * FROM #TempReporte;

    -- Limpieza
    DROP TABLE #TempReporte;
    DROP TABLE #BIReporteMapeo;
END;

--EXEC [dbo].[SP_AUTOMATIC_BI_TrazabilidadSerial] '004'